* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
	font-family: ProximaNova;
	src: url("../fonts/ProximaNova-Reg.otf");
}
@font-face {
	font-family: ProximaNova-Light;
	src: url("../fonts/ProximaNova-Light.otf");
}
@font-face {
	font-family: MagicCards;
	src: url("../fonts/MagicCardsNormal.ttf");
}

body {
	background-color: #0a0907;
	font-family: "MagicCards";
	color: #aea270;
	padding: 44px;
	word-spacing: 5px;
	cursor: url("../img/CURSOR_DROP.png"), auto;
	height: 100vh;
}
main {
	border: 5px solid #887148;
	border-image: url("../img/border2.png") 5 5 5 5 repeat;
}
header {
	width: 100%;
	background-image: url("../img/header.png");
	height: 21px;
	display: flex;
	justify-content: center; 
}

header nav h2 {
	color: #FFF;
}

header .name {
	font-size: 1.1em;
	background-color: #0a0907;
	padding: 0 10px;
}
.content {
	border: 5px solid #887148;
	border-image: url("../img/border2.png") 5 5 5 5 repeat;
	padding: 10px;
	font-size: 1.1em;
	display: flex;
	justify-content: space-between;
}
nav {
	width: 24%;
	border: 3px solid #887148;
	border-image: url("../img/border.png") 3 3 3 3 repeat;
	padding: 5px;
}
nav .menu-item {
	
}
nav .menu-item:hover {
	color: #c9c3ad;
}
.tabs {
	width: 74%;
	border: 3px solid #887148;
	border-image: url("../img/border.png") 3 3 3 3 repeat;
	padding: 5px;
	height: 400px;
	overflow: auto;
}

.content-item h2{
	color: #c9c3ad;
	font-size: 1.1em;
	font-weight: normal;
}

.content-item a:link, .content-item a:visited {
	color: #6b78c6;
	text-decoration: none;
}

.content-item a:visited, .content-item a:active {
	color: #6b78c6;
}